:root {
    --primary-color: #33cccc;
}

.border-primary {
    border-color: var(--primary-color); 
}

.bg-primary {
    border-color: var(--primary-color);
}

.button {
    background-color: var(--primary-color);
    border-radius: 0.50rem;
    padding: 0.33rem 0rem;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    color: #000;
}