#home {
  position: relative;
  background: linear-gradient(
    0.84deg,
    #ffcc00 20.72%,
    rgba(255, 205, 7, 0.973958) 20.73%,
    #33cccc 93.75%
  );
  padding-bottom: 36px;
}

/* Headers for each section */

.home_header {
  text-align: center;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.home_header::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #33cccc;
  width: 100px;
  left: 50%;
  top: 190px;
  transform: translateX(-50%);
}

/* End Headers for each section */

/* Press section */

.press {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.press:hover {
  transform: scale(1.05);
}

/* End press section */

/* Stats section */

.impact {
    min-height: 400px;
    background: linear-gradient(297.34deg, #FFCC00 28.5%, rgba(255, 205, 7, 0.973958) 28.5%, #33CCCC 63.66%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_shape_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_top_svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 68px;
}

.shape_fill {
    fill: #ecf5f5;
}

.custom_shape_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_bottom_svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 68px;
}

/* End of stats section */

/* md: 768px */
@media (min-width: 768px) {
  #home_content {
    display: flex;
    max-width: 80rem;
    margin: auto;
  }
}
