.header {
  position: sticky;
  top: 0px;
  background-color: #33cccc;
  z-index: 1;
}

.scale:hover {
  transform: scale(1.1);
}

.links {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
  order: 2;
}

/* Open Nav On Small View */

.hamburger_top_item {
  text-align: right;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  /* Dropdown Nav CSS */
  .dropdown {
    overflow: hidden;
    margin: 0 0.5rem;
    margin-top: 4px;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #33cccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown:hover .dropdown_content {
    display: block;
  }

  .top_item {
    margin: 0 0.5rem;
    margin-top: 4px;
  }

  /* End of Dropdown Nav CSS */

  .hamburger_top_item {
    text-align: left;
    margin-top: 0.25rem;
  }
}
